@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fa713b;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 4.3rem;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header h1 {
  display: inline;
  font-family: "Caveat", cursive;
}

.bxs-pizza {
  color: white;
  display: inline;
  font-size: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  top: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa713b;
}

.barra-nav {
  display: flex;
  margin-bottom: 1px;
}

.barra-nav a {
  padding: 0rem 4rem;
  font-size: 1.8rem;

  margin: 0;
  transition: all 0.5s ease;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.iconos {
  font-size: 1.4rem;
}

.iconos a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 2px 20px;
  transition: all 0.5s ease;
}

.iconos a:hover {
  color: rgb(0, 0, 0);
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

#container {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px 22px;
  grid-template-areas:
    "navbar2 categoria-perfil categoria-perfil categoria-perfil"
    ". pedidos-en-curso pedidos-en-curso pedidos-en-curso"
    ". tabla-h tabla-h tabla-h";
}

.navbar2 {
  grid-area: navbar2;
}

.categoria-perfil {
  grid-area: categoria-perfil;
}

.pedidos-en-curso {
  grid-area: pedidos-en-curso;
}

.tabla-h {
  grid-area: tabla-h;
}


.navbar2 ul {
  list-style-type: none;
}

.navbar2 ul li {
  padding: 10px 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vh;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border-radius: 20px;

  background-color: #adadad;
}

.navbar2 ul li a {
  text-decoration: none;
  color: black;
}

.navbar2 ul li a:hover:not(i) {
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: all 0.5s ease;
  color: white;
}

.user-p-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #fa713b;
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 20px;

}

.user-photo {
  width: 60px;
}

.categoria-perfil,
.pedidos-en-curso,
.tabla-h {
  box-shadow: rgb(0, 0, 0) 5px 5px;
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 20px;
  height: 100%;
  background-color: rgb(248, 115, 63, 60%);
}

.tabla-h,
.pedidos-en-curso {
  overflow-y: auto;
}

.perfil-titulo {
  text-align: center;
  margin-top: 100px;
}

form {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 16px;
  grid-template-areas:
    "input-bx input-bx2"
    "input-bx3 input-bx4"
    "input-bx5 input-bx6"
    "submit-btn submit-btn";
}

.caja {
  padding: 10px 20px;
  font-size: 4vh;
  text-align: center;
}

.caja input,
select,.actualizar-info
{
font-size: 3.2vh;
box-shadow: rgb(0, 0, 0) 5px 5px;
border: solid rgb(0, 0, 0) 2px;
text-align: center;
border-radius: 12px;

}


.input-bx {
  grid-area: input-bx;
}

.input-bx2 {
  grid-area: input-bx2;
}

.input-bx3 {
  grid-area: input-bx3;
}

.input-bx4 {
  grid-area: input-bx4;
}

.input-bx5 {
  grid-area: input-bx5;
}

.input-bx6 {
  grid-area: input-bx6;
}

.submit-btn {
  grid-area: submit-btn;
}

.submit-btn {
  text-align: center;


}



h3 {
  width: 100%;
  background-color: #fa713b;
  border: 1px solid black;
  text-align: center;
}

.tabla-historial {
  width: 80%;
  margin: 0 auto;
  text-align: center;


  margin-bottom: 10px;
  padding: 10px;
}

.tabla-h {
  width: 100%;
  height: 90%;
}

.tabla-historial tr {
  font-size: 2.4vh;
}

.pedido-n {
  margin-bottom: 20px;
}

.pedido-a th {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
}

.img-table2 {
  width: 20%;
}

img.img-table {
  width: 100%;
  display: block;
  margin: 0 auto;
}